.color-highlight {
	color: #225E9B;
}


.thumbnail-row {
	margin-top: 10px;
}

/*h1, */
h2 {
	margin-top: 30px;
}

h3,h4,h5,h6 {
	margin-top: 20px;
}

.carousel-caption a {
	color: white;
}

.jumbotron {
    padding-top: 0px !important;
}

.project-maven-config-parent.page-index .sidebar {
	margin-top: 10px;
}

.project-maven-config-parent.page-index .sidebar {
	margin-top: 10px;
}

.project-maven-config-parent.page-index .sidebar h3 {
	margin-top: 10px;
}

